.gridcontainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    grid-template-rows: 100px;
    grid-gap: 10px;
    grid-auto-flow:row;
}

.imageBox{
    height:100px;
    overflow: hidden;
    display:table-cell;
    vertical-align: middle;
    position: relative;

}


.image{
 
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  

    margin: auto;

}