.container{
    display: grid;
    grid-template-columns: 100px 1fr 1fr minmax(40ch,65ch) 1fr;
    grid-template-rows: min-content 8rem 8rem auto;
}

.headline{
    grid-column: 3/5;
}

.article-body{

    grid-column: 4/5;
    grid-row: 2/5;
}

.image{

    
    width:100%;
    clip-path: polygon(0 0, 100% 0, 100% 44%, 0 66%);

  
    
 
}

.text{
    grid-column: 4/5;
}